.color0{background: rgb(250, 250, 238) !important;}
.color1{background: rgb(249, 249, 236) !important;}
.color2{background: rgb(248, 248, 234) !important;}
.color3{background: rgb(247, 247, 231) !important;}
.color4{background: rgb(244, 245, 227) !important;}
.color5{background: rgb(243, 242, 223) !important;}
.color6{background: rgb(241, 241, 220) !important;}
.color7{background: rgb(239, 239, 216) !important;}
.color8{background: rgb(237, 237, 211) !important;}
.color9{background: rgb(235, 235, 208) !important;}
.color10{background: rgb(233, 233, 203) !important;}
.color11{background: rgb(231, 231, 200) !important;}
.color12{background: rgb(230, 229, 196) !important;}
.color13{background: rgb(227, 227, 192) !important;}
.color14{background: rgb(226, 227, 190) !important;}
.color15{background: rgb(224, 225, 188) !important;}