ul#tilbuin_spjold
{
	margin: 0;
	padding: 0;
	list-style: none;
}

	ul#tilbuin_spjold li
	{
		width: 100%;
	}

form#nytt_spjald
{
	margin-bottom: 10px;
	padding-bottom: 20px;
	border-bottom: 4px solid rgb(143, 182, 190);
}

	form#nytt_spjald input[type=text]
	{
		background: rgb(255, 255, 255);
		width: calc(100% - 20px);
		font-size: 1.5em;
		border: none;
		padding: 10px;
		font-family: inherit;
		margin: 0 0 10px 0;
		outline: none;
	}

		form#nytt_spjald input[type=text]:focus
		{

		}

	form#nytt_spjald input[type=submit]
	{

		border: none;
		padding: 10px;
		background: #fff;
		font-size: 1.5em;
		font-family: inherit;
		background: rgb(105, 157, 168);
		margin: 0;
		width: 100%;
		cursor: pointer;
		color: #FFF;
		outline: none;
	}

		form#nytt_spjald input[type=submit]:active
		{
			background: rgb(95, 147, 158);
		}

#tilbuin_spjold
{

}

	
	label.spurn, label.svar
	{
		font-size: 0.8em;
		display: block;
		float: left;
		width: 35%;
		margin: 0 20px 0 10px;
	}

	label.synil
	{
		font-size: 0.8em;
		float: left;
		display: block;
		width: 2%;
	}

	#tilbuin_spjold li form input
	{
		border: none;
		outline: none;
		background: rgb(217, 230, 233);
		font-size: inherit;
		font-family: inherit;
		padding: 10px;
		margin: 10px 10px 10px 0;
		-webkit-transition: 0.2s all ease-in-out;
		-moz-transition: 0.2s all ease-in-out;
		outline: none;
	}

		#tilbuin_spjold li form input:focus
		{
			background: rgb(255, 255, 255) !important;
		}

		#tilbuin_spjold li form input[type="checkbox"]
		{
			width: 2%;
			height: 16px;
			display: inline-block;
		}

		button.delete
		{
			float: right;
			margin-left: 0px;
		}

		#tilbuin_spjold li form input[type="checkbox"]:checked
		{

		}

		#tilbuin_spjold li form input[type=text]
		{
			width: 35%;
		}
			#tilbuin_spjold li form input[type=text]:last-child
			{
				margin-right: 0;
			}

		#tilbuin_spjold li form input.edit
		{
			background: rgb(255, 255, 255);
			-webkit-transition: 0.2s all ease-in-out;
			-moz-transition: 0.2s all ease-in-out;
		}

