ul#tilbuin_spjold
{
	margin: 0;
	padding: 0;
	list-style: none;
}

	ul#tilbuin_spjold li
	{
		border-bottom: 1px solid #ccc;
	}

form#nytt_spjald
{
	background: red;
}

	form#nytt_spjald input[type=text]
	{
		width: calc(100% - 20px - 2px);
		font-size: 1.5em;
		border: 1px solid #ccc;
		padding: 10px;
		font-family: inherit;
		margin: 0 0 10px 0;
		outline: none;
	}

		form#nytt_spjald input[type=text]:focus
		{

		}

	form#nytt_spjald input[type=submit]
	{
		border: 1px solid #ccc;
		padding: 10px;
		background: ;
	}