::selection
{
	background: rgb(105, 157, 168);
}

a
{
	color: rgb(75, 127, 138);
}

body
{
	color: #333;
	font-family: 'Open Sans';
	min-width: 1120px;
	background: rgb(136, 207, 206);
}

#wrap
{
	margin: 50px auto;
	width: 1020px;
	position: absolute;
	left: 0;
	right: 0;
}

#stacks
{
	width: 188px;
	margin: 0px 20px 0px 0px;
	float: left;
	z-index: -1;
	min-height: 10px;
	display: block;
}

	ul.stack
	{
		z-index: 0 !important;
		position: relative;
		margin: 0px auto;
		padding: 0px;
		list-style: none;
	}

	.stack-button
	{
		width: 82px;
		margin: auto;
	}

	#main .stack-button
	{
		float: left;
		margin: 0 10px 10px 0;
	}

	ul.stack li
	{
		width: 80px;
		height: 4px;
		display: block;
		overflow: visible;
	}

		ul.stack li .stack-card
		{
			position: relative;
			top: 0;
			left: 0;
			height: 30px;
			display: block;
			width: calc(100%-2px);
			box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
			-webkit-transform-origin: 50% 100%;
			-webkit-transform: perspective(30px) rotateX(22deg);
		}

		.stack-button p
		{
			font-size: 0.8em;
			width: 100%;
			text-align: center;
			color: rgb(255, 255, 255);
			margin: 34px 0 0 0;
		}

ul#tilbuin_spjold form
{
	margin: 0;
	padding: 0;
	border: none;
}

.stack-button
{
	cursor: pointer;
	text-decoration: none;
	color: inherit;
	display: block;
	margin-bottom: 10px;
}
	
	.stack-button p
	{
		-webkit-transition: 0.2s text-shadow ease-in-out;
	}

	.stack-button:hover p
	{
		-webkit-transition: 0.2s text-shadow ease-in-out;
		text-shadow: 0 0 6px rgba(105, 157, 168, 0.6);
	}

	.stack-button li:last-child .stack-card
	{
		-webkit-transition: 0.2s box-shadow ease-in-out;
	}

	.stack-button:hover li:last-child .stack-card
	{
		-webkit-transition: 0.2s box-shadow ease-in-out;
		box-shadow: 0 0 10px rgba(105, 157, 168, 0.9);
	}

nav
{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	height: 50px;
	background: #699da8;
	z-index: 1000;
}

nav .wrap
{
	position: relative;
	width: 1020px;
	display: block;
	margin: 0px auto;
}

nav#menu a.logo
{
	font-size: 2em;
	text-decoration: none;
	width: 250px;
	position: absolute;
	top: 0;
	left: 20px;
	color: #FFF;
	margin: 2px 20px 20px 0;
	display: block;
}

	nav#menu a.logo:hover
	{
		color: rgba(255, 255, 255, 0.8);
	}

	nav#menu span.username
	{
		display: block;
		position: absolute;
		font-size: 0.8em;
		right: 120px;
		top: 16px;
		color: white;
	}

	nav#menu a.logout, nav#menu a.login
	{
		position: absolute;
		top: 0px;
		right: 20px;
		font-size: 0.8em;
		text-decoration: none;
		color: white;
		padding: 16px;
	}

		nav#menu a.logout:hover, nav#menu a.login:hover
		{
			background: rgba(255, 255, 255, 0.1);
		}

#main
{
	float: left;
	width: 604px;
	margin: 0 20px 0 0;
}

	#main #options
	{
		-webkit-user-select: none;
	}

button
{
	font-size: 2.2em;
	margin: 0 20px 0 0;
	display: inline-block;
	width: 70px;
	height: 50px;
	text-align: center;
	vertical-align: top;
	color: rgb(255, 255, 255);
	cursor: pointer;
	border: none;
	background: #FFF;
	outline: none;
}

	a.button{
		
		border: none;
		padding: 10px;
		background: #fff;
		font-size: 1.5em;
		font-family: inherit;
		background: rgb(105, 157, 168);
		margin: 0;
		width: 100%;
		cursor: pointer;
		color: #FFF;
		outline: none;
		text-decoration: none;
		font-size: 0.8em;
	}


	a.button:active
	{
		background: rgb(95, 147, 158);
	}

	button:last-child
	{
		margin: 0;
	}

	button.small
	{
		width: 50px;
		height: 35px;
		border: none;
		font-size: 0.8em;
	}


.green
{
	border-color: #32cd32 !important;
	color: #32cd32 !important;
	background: #befebe !important;
}

.red
{
	border-color: #cd3238 !important;
	color: #cd3238 !important;
	background: #ffb3b9 !important;
}

	button.delete
	{

		padding: 3px 5px 5px 5px;
		margin: 17px 0px 10px 10px;
		vertical-align: center;
		font-size: 1em;
		line-height: 0.9em;
		width: auto;
		height: auto;
	}

	button:hover
	{
		/*box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.2);*/
	}

	button:active
	{

	}

#right
{
	width: 188px;
	float: left;
}

#cards
{
	min-height: 350px;
	display: block;
}

#cards .container
{
	position: relative;
	margin: 40px auto;
	-webkit-perspective: 1000px;
}

#cards .container
{
	width: 396px;
	height: 220px;
}

	#cards .container .card
	{
		width: 396px;
		height: 220px;
		font-size: 1.5em;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	}

	#cards .top .container
	{
		position: absolute;
		margin: 0 auto;
		left: 0;
		right: 0;
		display: block !important;
/*		-webkit-transition: 1s all ease-in-out; */
		z-index: 100 !important;
	}

		#cards .top .container .card
		{
			cursor: pointer;
			-webkit-user-select: none;
			-webkit-transition: 0.2s;
			-webkit-transform-style: preserve-3d;
			display: inherit;
			z-index: 100 !important;
		}

	#cards .top .container .card .face.front, .card .face.back
	{
		position: absolute;
		top: 0;
		-webkit-transform-style: flat;
		-webkit-backface-visibility: hidden;
	}

	.card .face.front
	{

	}

	#cards .top
	{
		z-index: 100 !important;
		-webkit-transform: zoom(1);
	}

	#cards .top .container .card .face.back
	{
		background: rgb(245, 245, 229);
		-webkit-transform: rotateY(180deg);
		display: block;
	}

		.card .back
		{
			display: none;
		}

		#cards .top .card .back .answer
		{
			position: absolute;
			bottom: 40px;
			z-index: 1000;
			left: 0;
			right: 0;
			text-align: center;
		}

	/* Omit first child. (That's a bit harsh). */

	#cards .lower
	{
		z-index: -100 !important;
		-webkit-transform: zoom(1);
	}

	#cards .lower .container
	{
		position: relative;
		top: 10px;
		height: 0px;
		margin: 10px auto;
		overflow: visible;
		z-index: -1;
		border: 1px solid rgb(250, 250, 238);
		
		/*-webkit-transform-origin: 50% 50%;
		-webkit-transform: perspective(1000px) rotateX(40deg) scale(0.9);*/
	}
		#cards .lower .container .card
		{
			-webkit-transform-style: flat !important;
			z-index: 100;
			background: #fafaee;
		}

			#cards .lower .container .card .face
			{

			}

	.card .face
	{
		padding: 40px;
		width: 316px;
		height: 140px;
		text-align: center;
	}

	#cards .top .container .card.flip
	{
		-webkit-transform: rotateY(180deg);
	}

.clear
{
	clear: both;
}

form
{
	margin-bottom: 10px;
	padding-bottom: 20px;
	border-bottom: 4px solid rgb(143, 182, 190);
}

	form.hidden, form#hidden
	{
		display: none;
	}

	form input[type=text], form input[type=password]
	{
		background: rgb(255, 255, 255);
		width: calc(100% - 20px);
		font-size: 1.5em;
		border: none;
		padding: 10px;
		font-family: inherit;
		margin: 0 0 10px 0;
		outline: none;
	}

	form input[type=submit]
	{

		border: none;
		padding: 10px;
		background: #fff;
		font-size: 1.5em;
		font-family: inherit;
		background: rgb(105, 157, 168);
		margin: 0;
		width: 100%;
		cursor: pointer;
		color: #FFF;
		outline: none;
	}

		form input[type=submit]:active
		{
			background: rgb(95, 147, 158);
		}

p.signup_now
{
	text-align: center;
}
	
form[type=hidden]
{
	display: none;
}

#login_form
{
	width: 240px;
	margin: auto;
}

a.create_button
{
	font-size: 1.5em;
	font-weight: bold;
	text-decoration: none;

	display: block;
	margin: auto;
	width: 30px;
	height: 30px;
	text-shadow: -1px -1px 0px rgba(255, 255, 255, 0.1);
}

input#togglePublic
{

}

label[for=togglePublic]
{
	font-size: 0.8em;
}

h1
{
	font-weight: normal;
	margin: 10px 10px 30px 10px;
	color: rgb(255, 255, 255);
	font-size: 1.7em;
	text-align: center;
}

h2
{
	text-align: center;
	font-weight: normal;
	margin: 16px 0px 30px 0px;
	color: rgb(255, 255, 255);
	font-size: 1.2em;
}

@media screen and (max-width: 1020px)
{
	#wrap {
		width: 100%;
	}
	#stacks, #main, #right{
		float: none;
		width: 100%;
	}
}