body
{
	font-family: 'Helvetica';
	min-width: 1120px;	
}

#wrap
{
	margin: 50px auto;
	width: 1020px;
	position: absolute;
	left: 0;
	right: 0;
}

#stacks
{
	width: 188px;
	margin: 0px 20px 0px 0px;
	float: left;
	z-index: -1;
}

	#stacks ul.stack
	{
		z-index: 0 !important;
		position: relative;
		margin: 0px auto;
		width: 82px;
		padding: 0px;
		list-style: none;
	}

	#stacks ul.stack li
	{
		width: 80px;
		height: 4px;
		display: block;
		overflow: visible;
	}

		#stacks ul.stack li .stack-card
		{
			position: relative;
			top: 0;
			left: 0;
			height: 30px;
			border: 1px solid #ccc;
			display: block;
			width: calc(100%-2px);
			background: #fff;
			-webkit-transform-origin: 50% 100%;
			-webkit-transform: perspective(30px) rotateX(22deg);
		}

		#stacks p
		{
			font-size: 0.8em;
			width: 100%;
			text-align: center;
			color: #666;
			margin: 34px 0 0 0;
		}

.stack-button
{
	cursor: pointer;
	text-decoration: none;
	color: inherit;
}

	.stack-button:hover .stack-card
	{
		background: #ececec !important;
	}

#main
{
	float: left;
	width: 604px;
	margin: 0 20px 0 0;
}

	#main #options
	{
		-webkit-user-select: none;
	}

		#main #options
		{

		}
			button
			{
				font-size: 2.2em;
				margin: 0 20px 0 0;
				
				display: inline-block;
				border: 4px solid #ccc;
				width: 70px;
				height: 50px;
				text-align: center;
				vertical-align: top;
				border-radius: 6px;
				color: #999;
				cursor: pointer;
				background: #FFF;
				outline: none;
			}

				button:last-child
				{
					margin: 0;
				}

				button.small
				{
					width: 50px;
					height: 35px;
					border: 2px solid #ccc;
					font-size: 0.8em;
				}

				.green
				{
					border-color: #32cd32 !important;
					color: #32cd32 !important;
					background: #befebe !important;
				}

				.red
				{
					border-color: #cd3238 !important;
					color: #cd3238 !important;
					background: #ffb3b9 !important;
				}

				button.delete
				{

					padding: 3px 5px 5px 5px;
					margin: 17px 0px 10px 10px;
					vertical-align: center;
					font-size: 1em;
					line-height: 0.9em;
					width: auto;
					height: auto;
				}

				button:hover
				{
					/*box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.2);*/
				}

				button:active
				{

				}

#right
{
	width: 188px;
	float: left;
}

#cards .container
{
	position: relative;
	margin: 40px auto;
	-webkit-perspective: 1000px;
}

#cards .container
{
	width: 396px;
	height: 220px;
}

	#cards .container .card
	{
		width: 396px;
		height: 220px;
		font-size: 1.5em;
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
	}

	#cards .top .container
	{
		position: absolute;
		margin: 0 auto;
		left: 0;
		right: 0;
		display: block !important;
/*		-webkit-transition: 1s all ease-in-out; */
		z-index: 100 !important;
	}

		#cards .top .container .card
		{
			cursor: pointer;
			-webkit-transition: 0.6s;
			-webkit-transform-style: preserve-3d;
			display: inherit;
			z-index: 100 !important;
		}

	#cards .top .container .card .face.front, .card .face.back
	{
		position: absolute;
		top: 0;
		background: #fff;
		-webkit-transform-style: flat;
		-webkit-backface-visibility: hidden;
	}

	.card .face.front
	{

	}

	#cards .top
	{
		z-index: 100 !important;
		-webkit-transform: zoom(1);
	}

	#cards .top .container .card .face.back
	{
		-webkit-transform: rotateY(180deg);
	}

		.card .back
		{
			display: none;
		}

		#cards .top .container .card .back
		{
			display: block;
		}

		#cards .top .card .back .answer
		{
			position: absolute;
			bottom: 40px;
			z-index: 1000;
			left: 0;
			right: 0;
			text-align: center;
		}

	/* Omit first child. (That's a bit harsh). */

	#cards .lower
	{
		z-index: -100 !important;
		-webkit-transform: zoom(1);
	}

	#cards .lower .container
	{
		position: relative;
		top: 10px;
		height: 0px;
		margin: 10px auto;
		overflow: visible;
		z-index: -1;
		
		/*-webkit-transform-origin: 50% 50%;
		-webkit-transform: perspective(1000px) rotateX(40deg) scale(0.9);*/
	}
		#cards .lower .container .card
		{
			-webkit-transform-style: flat !important;
			z-index: 100;
			background: #fff;
		}

			#cards .lower .container .card .face
			{
				display: none;
			}

	.card .face
	{
		padding: 40px;
		width: 316px;
		height: 140px;
		text-align: center;
	}

	#cards .top .container .card.flip
	{
		-webkit-transform: rotateY(180deg);
	}

.clear
{
	clear: both;
}

h1
{
	font-weight: normal;
	margin: 10px;
	color: #666;
	font-size: 1em;
	text-transform: uppercase;
	text-align: center;
}

h2
{
	font-weight: normal;
	margin: 10px;
	color: #666;
	font-size: 1em;
	text-transform: uppercase;
	text-align: center;
}