{% extends "flashcards/flashcards_base.html" %}

{% block meginmal %}
<section id="main">
	<h1>Spjöld í staflanum {{ currentDeck.name }}</h1>

	<form id="nytt_spjald" name="nytt_spjald">
		<input type="text" placeholder="Spurning" id="spurning" name="	spurning" autofocus />
		<input type="text" placeholder="Svar" id="svar" name="svar" />
		<input type="Submit" value="Búa til spjald" />
	</form>
	
	<ul id="tilbuin_spjold">
		{% for c in cards %}
			<li id="{{ c.id }}">
				<p>{{ c.question }}</p>
				<p>{{ c.answer }}</p>
			</li>
		{% endfor %}
	</ul>
	
	<form type="hidden" id="hidden" name="hidden">
		{% csrf_token %}
		<input id="spjald" type="hidden" value="" name="spjald" />
	</form>
</section>
{% endblock %}

{% block skriptur %}
<script>
	// Eftirsjárverð, víðvær breyta
	var deck_id = {{ currentDeck.id }}
</script>
<script type="text/javascript" src="{{ STATIC_URL }}js/create_cards.js"></script>
{% endblock %}