{% extends "flashcards/flashcards_base.html" %}
{% load staticfiles %}
{% block utlit %}
<link type="text/css" rel="stylesheet" href="{% static 'css/create_cards.css' %}" />
{% endblock %}

{% block meginmal %}
	<h1>Spjöld í staflanum {{ currentDeck.name }}</h1>

	<form id="nytt_spjald" name="nytt_spjald">
		<input type="text" placeholder="Spurning" id="spurning" name="	spurning" autocomplete="off" autofocus />
		<input type="text" placeholder="Svar" id="svar" name="svar" autocomplete="off" />
		<input type="Submit" value="Búa til spjald" />
	</form>
	
	<ul id="tilbuin_spjold">
		{% for c in cards %}
			<li id="{{ c.id }}">
				<p>{{ c.question }}</p>
				<p>{{ c.answer }}</p>
			</li>
		{% endfor %}
	</ul>
	
	<form type="hidden" id="hidden" name="hidden">
		{% csrf_token %}
		<input id="spjald" type="hidden" value="" name="spjald" />
		<input id="active" type="hidden" value="" name="active" />
		<input id="visible" type="hidden" value="" name="visible" />
	</form>
{% endblock %}

{% block skriptur %}
<script>
	// Eftirsjárverð, víðvær breyta
	var deck_id = {{ currentDeck.id }}
</script>
<script type="text/javascript" src="{{ STATIC_URL }}js/create_cards.js"></script>
{% endblock %}