{% extends "flashcards/flashcards_base.html" %}
{% load staticfiles %}
{% block utlit %}
<link type="text/css" rel="stylesheet" href="{% static 'css/create_cards.css' %}" />
{% endblock %}

{% block meginmal %}
	<h1>Spjöld í staflanum {{ currentDeck.name }}</h1>

	<form id="nytt_spjald" name="nytt_spjald">
		<input type="text" placeholder="Spurning" id="spurning" name="	spurning" autocomplete="off" autofocus />
		<input type="text" placeholder="Svar" id="svar" name="svar" autocomplete="off" />
		<input type="Submit" value="Búa til spjald" />
	</form>

	<ul id="tilbuin_spjold">
		<li class="legend">
			<label class="spurn">Spurning</label>
			<label class="svar">Svar</label>
			<label class="synil">Sýnilegt</label>
		</li>
		{% for c in cards %}
			{% if c.active %}
				<li id="{{ c.id }}">
					<form name="{{ c.id }}">
						<input type="text" value="{{ c.question }}" name="question" maxchars="140"/>
						<input type="text" value="{{ c.answer }}" name="answer"  maxchars="140" />
						<input type="checkbox" name="visible" {% if c.visible %}checked{% endif %} />
						<button class="delete red small">×</button>
					</form>
				</li>
			{% endif %}
		{% endfor %}
	</ul>
	
	<form type="hidden" id="hidden" name="hidden">
		{% csrf_token %}
		<input id="spjald" type="hidden" value="" name="spjald" />
	</form>
{% endblock %}
{% block right %}
<h2>Stillingar</h2>
	<input type="checkbox" name="togglePublic" id="togglePublic" {% if currentDeck.public %}checked{% endif %} />
	<label for="togglePublic">Stafli sýnilegur öðrum notendum</label>

{% endblock %}

{% block skriptur %}
<script>
	// Eftirsjárverð, víðvær breyta
	var deck_id = {{ currentDeck.id }}
</script>
<!-- 
{
	id : 
	question : 
	answer : 
	visible : 
}
-->
<script type="text/template" id="edit_card_view">
	<li id="<%= id %>">
		<form name="<%= id %>">
			<input maxlength="140" type="text" value="<%= question %>" name="question" />
			<input maxlength="140" type="text" value="<%= answer %>" name="answer" />
			<input type="checkbox" name="visible" <%= checked %> />
			<button class="delete red small">×</button>
		</form>
	</li>
</script>
<script type="text/javascript" src="{{ STATIC_URL }}js/create_cards.js"></script>
{% endblock %}