{% extends 'flashcards/flashcards_base.html' %}
{% load staticfiles %}

{% block title %}{{ deck.name }}{% endblock %}

{% block meginmal %}
  <h1>{{ deck.name }}</h1>
    <section id="cards">
      
    </section>
    <form id="hidden" type="hidden">
      {% csrf_token %}
      <input type="hidden" value="" id="svar" name="svar" />
      <input type="hidden" value="" id="remaining" name="remaining" />
    </form>
{% endblock %}

{% block right %}
<h2>Þessi stafli</h2>
    {% if creator %}
      <a href="/create/{{ deck.id }}/" class="button">Breyta</a>
    {% endif %}
    <a id="yfirlit">Yfirlit</a>
      <a class="stack-button">
        <ul class="stack">
        </ul>
      </a>
{% endblock %}

{% block skriptur %}
<script>
  var session_id = {{ session_id }};
  var log = null
  {% if session.log != None %}
    log = '{{ session.log|escapejs|safe }}';
  {% endif %}
  console.log(log);
  var deck = {};
  deck.id = '{{ deck.id }}';
  deck.name = '{{ deck.name }}';
  var cards = [{% for c in cards %}{% if c.visible and c.active %}{ id: '{{ c.pk }}', question: '{{ c.question }}', answer: '{{ c.answer }}'}{% if forloop.last %} {% else %},{% endif %}{% endif %} {% endfor %}];
</script>
<script type="javascript/template" id="flip-card">
 <div class="container" id="<%= id %>" style="<%= style %>">
   <div class="card">
     <div class="face front <%= extraClass %>"> 
      <%= question %>
     </div> 
     <div class="face back"> 
      <%= answer %>
       <div class="answer">
         <button class="small red" data-id="rangt">✗</button>
         <button class="small green" data-id="rett">✓</button>
       </div>
     </div>
   </div>
 </div>
</script>
<script type="text/javascript" src="{{ STATIC_URL }}js/selectDeck.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/view_single_deck.js"></script>
{% endblock %}
