{% extends "flashcards/flashcards_base.html" %}
{% block titill %}Skoða stokk{% endblock %}


{% block meginmal %}
<select id="selectDeck">
  <option>Veldu bunka</option>
  {% for d in decks %}
  <option value="{{ d.id }}">{{ d.name }}</option>
  {% endfor %}
</select>
<h1>Staflar sem þér hafið smíðað:</h1>
<ul>
	{% for d in decks_created_by_current_user %}
	<li>{{ d.name }} - {{ d.id }}</li>
	{% endfor %}
</ul>
{% endblock %}

{% block skriptur %}
<script>
  var deck = null;
  var decks = [{% for d in decks %}{ pk: '{{d.pk}}', name: '{{ d.name }}' }{% if forloop.last %} {% else %} , {% endif %}{% endfor %}];
</script>
<script type="text/javascript" src="{{ STATIC_URL }}js/selectDeck.js"></script>
{% endblock %}
