{% extends "flashcards/flashcards_base.html" %}
{% block titill %}Skoða stokk{% endblock %}


{% block meginmal %}
<ul>
    <h1>Allir staflar</h1>
	{% for d in decks %}
	{% if d.public %}
		<a class="stack-button" id="{{ d.id }}" href="/{{ d.id }}">
        	<ul class="stack">
        	  <li>
        	    <div class="stack-card"></div>
        	  </li> 
        	  <li> 
        	    <div class="stack-card"></div>
        	  </li> 
        	  <li> 
        	    <div class="stack-card"></div>
        	  </li> 
        	  <li> 
        	    <div class="stack-card"></div>
        	  </li> 
        	  <li> 
        	    <div class="stack-card"></div>
        	  </li> 
        	  <li> 
        	    <div class="stack-card"></div>
        	  </li>
        	</ul>
        	<p>
        	  {{ d.name }}
        	</p>
        </a>
	{% endif %}
	{% endfor %}
</ul>
{% endblock %}

{% block skriptur %}
<script>
  var deck = null;
  var decks = [{% for d in decks %}{ pk: '{{d.pk}}', name: '{{ d.name }}' }{% if forloop.last %} {% else %} , {% endif %}{% endfor %}];
</script>
<script type="text/javascript" src="{{ STATIC_URL }}js/selectDeck.js"></script>
{% endblock %}
