{% extends "flashcards/flashcards_base.html" %}
{% block titill %}Skoða stokk{% endblock %}

{% block meginmal %}
<select id="selectDeck">
  <option>Veldu bunka</option>
  {% for d in decks %}
  <option value="{{ d.id }}">{{ d.name }}</option>
  {% endfor %}
</select>
{% endblock %}

{% block skriptur %}
<script>
  var deck = null;
  var decks = [{% for d in decks %}{ pk: '{{d.pk}}', name: '{{ d.name }}' }{% if forloop.last %} {% else %} , {% endif %}{% endfor %}];
</script>
<script type="text/javascript" src="{{ STATIC_URL }}js/selectDeck.js"></script>
{% endblock %}
